.vertical-header {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    padding: 10px;
    color: #426696;
    border-bottom: 2px solid #426696;
    text-align: left;
    height: 150px;
}
